extends layout

block content
  h3 URLs para el API en formato JSON o CSV
  ul
    li
      a(href='/api/anio/2009.json') Elecciones 2009 en JSON
    li
      a(href='/api/anio/2009.csv') Elecciones 2009 en CSV

