extends layout

block content
  h3 URLs para el API en formato JSON o CSV
  ul
    each anio, index in anios
      li
        a(href="/api/anio/#{anio.ano}.json") Elecciones #{anio.ano} en JSON
      li
        a(href="/api/anio/#{anio.ano}.csv") Elecciones #{anio.ano} en CSV
      p
