default:
  port: 3000
  db:
    user: 'postgres'
    password: 'postgres'
    database: 'geoelectoral'
    host: 'localhost'
    port: 5432

development:
  port: 3000
  db:
    user: 'postgres'
    password: 'postgres'
    database: 'geoelectoral'
    host: 'localhost'
    port: 5432

test:
  port: 3001

production: &production
  port: 3000
  db:
    user: 'postgres'
    password: 'postgres'
    database: 'geoelectoral'
    host: 'localhost'
    port: 5432

staging:
  <<: *production