default:
  port: 3000
  db:
    user: 'postgres'
    password: 'postgres'
    database: 'geoelectoral'
    host: 'localhost'
    port: 5432
  geoserver:
    host: 'geo.gob.bo'
    port: 80
    namespace: 'geoelectoral'

development:
  port: 3000
  db:
    user: 'postgres'
    password: 'postgres'
    database: 'geoelectoral'
    host: 'localhost'
    port: 5432
  geoserver:
    host: 'test.geo.gob.bo'
    port: 80
    namespace: 'geoelectoral'

test:
  port: 3001

production: &production
  port: 3000
  db:
    user: 'postgres'
    password: 'postgres'
    database: 'geoelectoral'
    host: 'localhost'
    port: 5432

staging:
  <<: *production